
/* الخلفية العامة */
body, .main, .block-container {
    background-color: #1E1E2F !important;
    color: #f4f4f3 !important;
    font-family: 'Segoe UI', sans-serif !important;
}

/* العناوين */
h1, h2, h3, h4, h5 {
    color: #f4f4f3 !important;
}

/* روابط وأزرار */
a {
    color: #3498DB !important;
}
.stButton>button {
    background-color: #9B59B6 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 6px;
}

/* الجداول */
thead, tbody, .stDataFrame, .stTable {
    background-color: #1E1E2F !important;
    color: #DDDDDD !important;
    border-radius: 10px;
    font-size: 15px;
}

/* بطاقات المعلومات */
.info-card {
    background-color: #2c2c38;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    color: #f4f4f3;
    line-height: 1.7;
}

/* فاصل سفلي */
hr {
    border: 1px solid #888;
}

/* Progress Bar */
div.stProgress > div > div > div {
    background-color: #2ECC71 !important;
}
